# The data itself lives on the Hugging Face Hub, not in git:
#   https://huggingface.co/datasets/yuiseki/ourairports-2026-08
# Fetched by scripts/01..03 rather than edited by hand. data/README.md,
# data/LICENSE and data/provenance.yaml are tracked: they are the dataset card
# and its notices, not the data.
data/csv/
data/parquet/

__pycache__/
*.pyc
.venv/
